body {
  background-color: #EAF6F6;
  font-family: Garamond, serif;
  font-size: 12pt;
  text-align: center;
}

button {
  background-color: white;
  border: solid 1px gray;
  width: 70px;
}

button:disabled {
  background-color: lightgray;
}

fieldset {
  display: inline;
}

fieldset legend {
  font-weight: bold;
  text-align: left;
}

#word {
  width: 80%;
  height: 100px;
  font-size: 32pt;
  font-weight: bold;
  border: solid 2px #8EBEBE;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
}
